@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

button {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

button:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 12px rgba(0, 109, 239, 0.2);
}

button:active {
  transform: translateY(0);
}